* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw; 
    height: 100vh; 
}

header {
    background: #333333;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #ffffff;
    font-size: 36px;
}

header p {
    color: #cccccc;
    font-size: 18px;
}

nav {
    background: #222222;
    height: 40px;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 0px;
}

nav ul li a:hover {
    background-color: #ffffff;
    color: #222222;
    transform: scale(1.1);
}

main {
    padding: 20px;
}

main h2 {
    color: #ffffff;
    font-size: 24px;
}

main p {
    color: #cccccc;
    font-size: 18px;
}

footer {
    background: #333333;
    padding: 10px;
    text-align: center;

    position: fixed; 
    bottom: 0; 
    width: 100%;
}

footer p {
    color: #cccccc;
    font-size: 14px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ffffff;
    padding: 10px;
}

table th {
    background-color: #333333;
}

table td:hover {
    background-color: #333333;
}

form label, form input, form select {
    display: block;
    margin-bottom: 10px;
}

form input, form select {
    width: 80%;
}

form input[type="submit"] {
    width: auto;
    background-color: #222222;
    color: #ffffff;
}
